{% assign color       = include.color       %}
{% assign theme_color = include.theme_color %}

html {
  --accent-color: {{ color }};
  --accent-color-faded: #{rgba({{ color }}, 0.5)};
  --accent-color-highlight: #{rgba({{ color }}, 0.1)};
  --accent-color-darkened: #{mix(black, {{ color }}, 7.5%)};
  --theme-color: {{ theme_color }};
  {% if site.github and site.hydejack.dart_sass_2_compat != true %}
  --dark-mode-body-bg: #{hsl(modern-hue({{ theme_color }}), (modern-saturation({{ theme_color }}) / 8), 17.5%)};
  --dark-mode-border-color: #{hsl(modern-hue({{ theme_color }}), (modern-saturation({{ theme_color }}) / 8), 22.5%)};
  {% else %}
  --dark-mode-body-bg: #{hsl(modern-hue({{ theme_color }}), calc(modern-saturation({{ theme_color }}) / 8), 17.5%)};
  --dark-mode-border-color: #{hsl(modern-hue({{ theme_color }}), calc(modern-saturation({{ theme_color }}) / 8), 22.5%)};
  {% endif %}
}
