<script type="module">
  /* Import the functions you need from the SDKs you need */
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-analytics.js";
  /* TODO: Add SDKs for Firebase products that you want to use */
  /* https://firebase.google.com/docs/web/setup#available-libraries */

  /* Your web app's Firebase configuration */
  /* For Firebase JS SDK v7.20.0 and later, measurementId is optional */
  const firebaseConfig = {
    apiKey: "AIzaSyCZYhv-k9hgHEZGWPq1XuMFDlXGBfY934g",
    authDomain: "ryvor-portfolio.firebaseapp.com",
    projectId: "ryvor-portfolio",
    storageBucket: "ryvor-portfolio.appspot.com",
    messagingSenderId: "354876397984",
    appId: "1:354876397984:web:c98964abbe972b6a756cc5",
    measurementId: "G-PZ7S7SC9SD"
  };

  /* Initialize Firebase */
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

<script type="module">
	import { getAuth, isSignInWithEmailLink, signInWithEmailLink, sendSignInLinkToEmail } from "firebase/auth";
	const auth = getAuth();
	const actionCodeSettings = { url: 'https://ryvor.github.io/finishSignUp' };
	
	sendSignInLinkToEmail(auth, email, actionCodeSettings).then(() => {
		window.localStorage.setItem('emailForSignIn', email);
	}).catch((error) => {
		const errorCode = error.code;
		const errorMessage = error.message;
	});
	if (isSignInWithEmailLink(auth, window.location.href)) {
		/*
		 *	Additional state parameters can also be passed via URL.
		 *	This can be used to continue the user's intended action before triggering
		 *	the sign-in operation.
		 *	Get the email if available. This should be available if the user completes
		 *	the flow on the same device where they started it.
		 */
		let email = window.localStorage.getItem('emailForSignIn');
		if (!email) {
			/*
			 * User opened the link on a different device. To prevent session fixation
			 * attacks, ask the user to provide the associated email again. For example:
			 */
			email = window.prompt('Please provide your email for confirmation');
		}
		/* The client SDK will parse the code from the link for you. */
		signInWithEmailLink(auth, email, window.location.href).then((result) => {
			window.localStorage.removeItem('emailForSignIn');
			/* You can access the new user via result.user
			 * Additional user info profile not available via:
			 * result.additionalUserInfo.profile == null
			 * You can check if the user is new or existing:
			 * result.additionalUserInfo.isNewUser
			 */
		}).catch((error) => {
			/* Some error occurred, you can inspect the code: error.code
			 * Common errors could be invalid email and invalid or expired OTPs.
			 */
		});
	}
</script>