{{ if site.firebase.enabled }}
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
    import {	getAuth,
              signInWithPopup, GithubAuthProvider,
              sendSignInLinkToEmail, isSignInWithEmailLink, signInWithEmailLink,
              signInWithPhoneNumber, RecaptchaVerifier,
              OAuthProvider,
              onAuthStateChanged} from "https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-analytics.js";

    const app = initializeApp({
      apiKey: "{{ site.firebase.api_key }}",
      authDomain: "{{ site.firebase.auth_domain }}",
      projectId: "{{ site.firebase.project_id }}",
      storageBucket: "{{ site.firebase.storage_bucket }}",
      messagingSenderId: "{{ site.firebase.message_sender_id }}",
      appId: "{{ site.firebase.app_id }}",
      measurementId: "{{ site.firebase.measurement_id }}"
    });
    const analytics = getAnalytics(app);
    const auth = getAuth();

    onAuthStateChanged(auth, (user) => {
      if (user) {
        const uid = user.uid;
        console.log(user);
      }
    });

    if(isSignInWithEmailLink(window.location.href)) {
      var email = window.localStorage.getItem("emailForSignIn");
      if (!email) {
        email = window.prompt("Please provide your email for confirmation");
      }
      signInWithEmailLink(email, window.location.href).then(function (result) {
        window.localStorage.removeItem("emailForSignIn");
        console.log("User signed in:", result.user);
      }).catch(function (error) {
        alert("An error occurred while trying to log you in");
        console.error("Sign-in error:", error);
      });
    };
    window.recaptchaVerifier = new RecaptchaVerifier('no-fouc', {
      'size': 'invisible',
      'callback': (response) => {
        onSignInSubmit();
      }
    }, auth);
    onAuthStateChanged(auth, (user) => {
      if (user) {
        // User is signed in, see docs for a list of available properties
        // https://firebase.google.com/docs/reference/js/firebase.User
        const uid = user.uid;
        console.log(uid)
      } else {
        // User is signed out
      }
    });

    window.account = {
      Login: {
        {{ if site.firebase.github.enabled }}
          microsoft: () => {
            const provider = new OAuthProvider('microsoft.com');;
            signInWithPopup(auth, provider).then((result) => {
              const credential = OAuthProvider.credentialFromResult(result);
              const accessToken = credential.accessToken;
              const idToken = result.idToken;
            }).catch((error) => {
              const errorCode = error.code;
              const errorMessage = error.message;
              const email = error.customData.email;
              const credential = GithubAuthProvider.credentialFromError(error);
            });
          },
        {{ endif }}
        {{ if site.firebase.github.enabled }}
          github: () => {
            const provider = new GithubAuthProvider();
            signInWithPopup(auth, provider).then((result) => {
              const credential = GithubAuthProvider.credentialFromResult(result);
              const token = credential.accessToken;
              const user = result.user;
            }).catch((error) => {
              const errorCode = error.code;
              const errorMessage = error.message;
              const email = error.customData.email;
              const credential = GithubAuthProvider.credentialFromError(error);
            });
          },
        {{ endif }}
        {{ if site.firebase.emailLink.enabled }}
          email: (email, actionCodeSettings = { url: "{{ site.firebase.emailLink.callbackUrl }}", handleCodeInApp: true }) => {
            sendSignInLinkToEmail(auth, email, actionCodeSettings).then((result) => {
              window.localStorage.setItem("emailForSignIn", email);
              console.log("Email sent");
            }).catch(function (error) {
              var errorCode = error.code;
              var errorMessage = error.message;
              console.error("Email sending error:", errorCode, errorMessage);
            });
          },
        {{ endif }}
        {{ if site.firebase.phone.enabled }}
          phone: (phoneNumber, appVerifier = window.recaptchaVerifier) => {
            signInWithPhoneNumber(auth, phoneNumber, appVerifier).then((result) => {
              window.localStorage.setItem("phoneForSignIn", phoneNumber);
              window.confirmationResult = confirmationResult;
            }).catch((error) => {
              appVerifier.render().then(function(widgetId) {
                grecaptcha.reset(widgetId);
              });
            });
          },
        {{ endif }}
      },
      Logout: () => {
        signOut().then(() => {
          alert('Logout successful')
        }).catch((error) => {
          var errorCode = error.code;
          var errorMessage = error.message;
          console.error("Logout error:", errorCode, errorMessage);
        });
      }
    }
  </script>
{{ endif }}