<script type="module">
	/* Import the functions you need from the SDKs you need */
	import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
	import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-analytics.js";
	import { getAuth, isSignInWithEmailLink, signInWithEmailLink, sendSignInLinkToEmail, signOut } from 'https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js';
	import { getFirestore } from 'https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore.js';

	/* Initialize Firebase */
	const app = initializeApp({
		apiKey: "AIzaSyCZYhv-k9hgHEZGWPq1XuMFDlXGBfY934g",
		authDomain: "ryvor-portfolio.firebaseapp.com",
		projectId: "ryvor-portfolio",
		storageBucket: "ryvor-portfolio.appspot.com",
		messagingSenderId: "354876397984",
		appId: "1:354876397984:web:c98964abbe972b6a756cc5",
		measurementId: "G-PZ7S7SC9SD"
	});
	const analytics = getAnalytics(app);
	const auth = getAuth();
	const actionCodeSettings = { url: 'https://ryvor.github.io/finishSignUp/' };


	/* Web Login */
	function login(email) {
		sendSignInLinkToEmail(auth, email, actionCodeSettings).then(() => {
			window.localStorage.setItem('emailForSignIn', email);
			alert('Successfully sent email');
		}).catch((error) => {
			alert('Error whilst sending email');
			console.log(error.code + ' : ' + error.message)
		});
	}

	/* Web Logout */
	function logout() {
		signOut(auth).then(() => {
			/* Sign-out successful. */
			alert('Success');
		}).catch((error) => {
			/* An error happened. */
			alert('Error');
		});
	}


	if(isSignInWithEmailLink(auth, window.location.href)) {
		let email = window.localStorage.getItem('emailForSignIn');
		if (!email) {
			email = window.prompt('Please provide your email for confirmation');
		}
		signInWithEmailLink(auth, email, window.location.href).then((result) => {
			window.localStorage.removeItem('emailForSignIn');
		}).catch((error) => {
			alert('An error occurred whilst trying to log you in');
			console.log(error);
		});
	}
</script>