{% assign project           = page                                                       %}
{% assign no_link_title     = include.no_link_title                                      %}
{% assign no_excerpt        = include.no_excerpt                                         %}
{% assign hide_image        = include.hide_image                                         %}
{% assign hide_description  = include.hide_description                                   %}
{% assign from_to_separator = site.data.strings.from_to_separator   | default:"–"        %}
{% assign separator         = site.data.strings.separator           | default:"|"        %}
{% assign project_format   = site.data.strings.date_formats.project | default:"%d %b %Y" %}

<article id="project{{ post.id | replace:'/','-' }}" class="page mb6" role="article">
  <header>
    <h1 class="page-title" property="name">
      {% unless no_link_title %}<a href="{{ project.url | relative_url }}" class="flip-title">{% endunless %}
	      {{ project.title }}
      {% unless no_link_title %}</a>{% endunless %}
    </h1>

    <div class="post-date">
      {% capture foobar %}
        {%- unless site.hydFejack.hide_dates -%}
          <time datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date:project_format }}</time>
        {%- else -%}
          {{- site.data.strings.posted | default:"Posted" -}}
        {%- endunless -%}
        {% if project.applause_button %}
          {{ ' ' }}
          <span class="clap-count" data-url="{{ project.url | absolute_url }}"></span>
        {% endif %}
      {% endcapture %}
      <span class="ellipsis mr1">
        {{ foobar }}
      </span>
      {% unless site.hydejack.hide_dates or site.hydejack.hide_last_modified or project.hide_last_modified %}
        {% if project.last_modified_at %}
          {% assign d1 = project.date             | date:"%Y-%m-%d" %}
          {% assign d2 = project.last_modified_at | date:"%Y-%m-%d" %}
          {% if d1 != d2 %}
            {% assign label = site.data.strings.last_modified_at | default:"Last modified at" %}
            {% assign last_modified_at_format = site.data.strings.date_formats.last_modified_at | default:"%Y-%m-%d" %}
            <span class="ellipsis" data-tippy-content="{{ label }}{{ site.data.strings.colon }} {{ project.last_modified_at | date:project_format }}">
              <span class="sr-only">{{ label }}{{ site.data.strings.colon }}</span>
              <span class="{{ site.data.strings.last_modified_icon | default:'icon-history' }}"></span>
              <time datetime="{{ project.last_modified_at | date_to_xmlschema }}" class="mr-2">{{ project.last_modified_at | date:last_modified_at_format }}</time>

              <span class="sr-only">{{ separator }} {{ site.data.strings.links | default:"Links" }}{{ site.data.strings.colon }}</span>
              <span class="{{ site.data.strings.links_icon | default:'icon-link' }}" title="{{ site.data.strings.links | default:'Links' }}"></span>
              {% for link in project.links %}
                <a class="external" href="{{ link.url }}" property="sameAs">{{ link.title }}</a>
                {% unless forloop.last %}{{ separator }}{% endunless %}
              {% endfor %}
            </span>
          {% endif %}
        {% endif %}
      {% endunless %}
    </div>

    {% assign alt = false %}
    {% unless hide_image %}
      {% if project.image %}
        {% assign screenshot = project.screenshot | default:project.image %}
        {% unless no_link_title %}
          <a href="{{ project.url | relative_url }}" class="no-hover no-print-link {% unless project.hide_image %}flip-project{% endunless %}" tabindex="-1">
        {% endunless %}
        <div class="img-wrapper lead aspect-ratio sixteen-nine flip-project-img">
          {% if screenshot %}
            {% include_cached components/hy-img.html
              img=screenshot
              sizes="(min-width: 90em) 48rem, (min-width: 54em) 42rem, (min-width: 42em) 38rem, 100vw"
              alt=project.title
              property="image"
              width=864
              height=486
            %}
          {% endif %}
        </div>
        {% unless no_link_title %}
          </a>
        {% endunless %}
        {% assign alt = '' %}
      {% endif %}
    {% endunless %}

    {% include components/message.html text=project.description hide=page.hide_description property="description" alt="" %}
    {% if project.caption %}<meta property="disambiguatingDescription" content="{{ project.caption }}"/>{% endif %}
  </header>

  {% if no_excerpt %}
    {{ project.content }}
  {% else %}
    {{ project.excerpt }}

    {% capture project_title %}<a class="heading flip-title" href="{{ project.url | relative_url }}">{{ project.title }}</a>{% endcapture %}
    {% assign text = site.data.strings.continue_reading | default:"Continue reading <!--project_title-->" %}
    <footer>
      <p class="read-more">
        {{ text | replace:"<!--project_title-->", project_title }}
      </p>
    </footer>
  {% endif %}
</article>