{% if site.google_search_console.enabled %}
	{% if site.hydejack.cookies_banner %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_search_console.tag }}"></script>
		<script>
			!function(w, d) {
				w.ga=w.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
				w.dataLayer = w.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', '{{ site.google_search_console.tag }}');

				var pushStateEl = d.getElementById('_pushState');
				var timeoutId;
				pushStateEl.addEventListener('hy-push-state-load', function() {
				w.clearTimeout(timeoutId);
					timeoutId = w.setTimeout(function() {
						ga('set', 'page', w.location.pathname);
						ga('send', 'pageview');
					}, 500);
				});

				d.addEventListener('hy--cookies-ok', function () {
					w.ga(function(tracker) {
						w.ga("set", "anonymizeIp", undefined);
						localStorage && localStorage.setItem("ga--client-id", tracker.get("clientId"));
					});
				});
			}(window, document);
		</script>
	{% endif %}
{% endif %}